* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

header {
  background-image: linear-gradient(rgba(27, 25, 25, 0.55), rgba(11, 11, 11, 0.55)), url("../images/Mask group.png");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  position: absolute;
  width: 100%;
  top: 0;
}
nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .container .nav_content {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
nav .container ul {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin: 0;
}
nav .container ul li a {
  color: white;
  text-decoration: none;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  display: block;
}

button {
  text-align: center;
  background-color: #FBB034;
  padding: 17px 53px;
  border: 0;
  font-style: normal;
  font-weight: 600;
  border: 1px solid #FBB034;
}
button.outlined {
  background-color: transparent;
  color: #FBB034;
}

img.logo {
  width: 140px;
}

h1 {
  color: #FFFFFF;
  font-style: normal;
  font-weight: 700;
  font-size: 52px;
  line-height: 100%;
}

.header_content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}