* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

header {
  background-image: linear-gradient(rgba(27, 25, 25, 0.55), rgba(11, 11, 11, 0.55)), url("../images/Mask group.png");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  text-align: center;
  background-color: #FBB034;
  padding: 17px 53px;
  border: 0;
  font-style: normal;
  font-weight: 600;
  border: 1px solid #FBB034;
}
button.outlined {
  background-color: transparent;
  color: #FBB034;
}

img.logo {
  width: 140px;
}

h1 {
  color: #FFFFFF;
  font-style: normal;
  font-weight: 700;
  font-size: 52px;
  line-height: 100%;
}

.header_content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

nav {
  position: absolute;
  width: 100%;
  top: 0;
}
nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .container .nav_content {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
nav .container ul {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 3.5rem;
  margin: 0;
}
nav .container ul li a {
  color: white;
  text-decoration: none;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  display: block;
}

.container-fluid {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container1 {
  min-height: 70vh;
  background-image: linear-gradient(rgba(203, 196, 196, 0.1), rgba(243, 235, 235, 0.1)), url("../images/WE ARE OPEN 1.png");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 300px;
  position: relative;
}

.img1 {
  position: absolute;
  top: 4rem;
  left: 6rem;
  width: 188px;
  height: 282px;
}

.img2 {
  position: absolute;
  top: 5rem;
  left: 19rem;
  width: 161px;
  height: 118px;
}

.img3 {
  border: 9px solid white;
  position: absolute;
  top: 14rem;
  left: 14rem;
  width: 214px;
  height: 292px;
}

.img4 {
  margin-top: 30px;
  margin-bottom: 20px;
}

p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  width: 401px;
  height: 108px;
  padding: 20px 0;
}

.container4 {
  min-height: 50vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url("../images/Mask group.png");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 200px;
}

.container3 {
  justify-content: right;
  width: 320px;
  height: 303px;
  background-color: white;
}

.container5 {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.vector {
  width: 20px;
  margin: 0;
}

.p {
  margin: auto;
  padding: 0;
  line-height: 2;
  height: 50px;
  width: 300px;
}

.container6 {
  display: flex;
  padding: 7% 10%;
}

.container7 {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  width: 27rem;
  border-bottom: 2px dotted black;
}

.container8 {
  background-color: #fbb034;
  padding: 3rem;
  width: 50%;
}

h3 {
  font-size: 40px;
  font-weight: 600;
  color: white;
}

.container9 {
  width: 700px;
}

h2 {
  color: #000000;
  font-style: normal;
  font-weight: 700;
  font-size: 52px;
  line-height: 100%;
}