h2{
    color: #000000;
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 100%;
}

h5{
    align-items: center;
    color: #000000;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 100%;  
}