header{
height:731px;
background-image: linear-gradient(
    rgba(27, 25, 25, 0.55),
    rgba(11, 11, 11, 0.55)
  ),
  url("images/");
background-size: cover;
background-position: center;
padding: 2% 8%;
}

nav{
 display: flex;
 justify-content: space-between;


    ul{
        list-style: none;
        text-align: right;
        margin-left: 240px;
        li{

            display: inline-block;
            margin: 34px 30px;
            position: relative;
        

            a{
                color: white;
                text-decoration: none;
                text-transform: uppercase;         
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 106.5%;
            }
        }
    }
}

 button{
    width: 186px;
height: 53px;
text-align: center;
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 17px 53px;
margin: 34px 20px 0 0;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 106.5%;
 }

 img{
    width: 140px;
 }

 h1{
    margin-top: 270px;
    color: #FFFFFF;   
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 52px;
line-height: 100%;
 }

 div{
    width: 410px;
    display: flex;
    justify-content: space-between;

 }