header {
    background-image: linear-gradient(rgba(27, 25, 25, 0.55),
            rgba(11, 11, 11, 0.55)),
        url("../images/Mask\ group.png");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

button {
    text-align: center;
    background-color: #FBB034;
    padding: 17px 53px;
    border: 0;
    font-style: normal;
    font-weight: 600;
    border: 1px solid #FBB034;
    
    &.outlined{
        background-color: transparent;
        color: #FBB034;

    }
}

img.logo {
    width: 140px;
}



h1 {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 100%;
}

.header_content{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

@media only screen and (max-width:900px) {
    
}